@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Indie+Flower&family=Kufam:ital,wght@0,400;0,500;1,400;1,500&family=Permanent+Marker&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-1: "Kufam", serif;
    --font-2: "Permanent Marker", serif;
    --font-3:  "Bebas Neue", serif;
    --font-4: "Architects Daughter", serif;
}
